<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $("p1").text("");
    var sse = new EventSource('http://localhost:8080/janken/asyncJanken');
    sse.onmessage = function (evt) {
      $("#p1").text(evt.data);
      console.log(evt.data);
      var request = new XMLHttpRequest();
      request.open('GET', evt.origin + "/janken/asyncHand", true);
      request.send();
      console.log(evt.origin + evt.data);
      request.onload = function (data) {
        console.log("onload");
        console.log(data);
      }
    }
  </script>
</head>

<body>
  <p id="p1"></p>
  <h1>Hello Janken</h1>
  user:[[${username}]]
  ただいまの入室者数：[[${userCount}]]
  <div th:if="${exit}">
    <a href="/janken/enter">入室</a>
  </div>
  <div th:if="${enter}">
    <a href="/janken/exit">退室</a>
    <form action="/janken/hand" method="post">
      <button type="submit" name="hand" value="gu">グー</button>
      <button type="submit" name="hand" value="choki">チョキ</button>
      <button type="submit" name="hand" value="pa">パー</button>
    </form>
    <div th:if="${userCount ge 2}">
      じゃんけんぽん！
    </div>
    <div th:if="${winner}">
      <h2>You: [[${playerHand}]]</h2>
      <h2>Enemy: [[${enemyHand}]]</h2>
      <h2>Winner is [[${winner}]]</h2>
    </div>
  </div>
</body>

</html>
