<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
</head>

<body>
  <a href="/logout">logout</a>
  <h1>Hello Janken</h1>
  user:[[${username}]]
  ただいまのユーザ数：[[${userCount}]]
  <form action="/janken" method="post">
    <button type="submit" name="hand" value="gu">グー</button>
    <button type="submit" name="hand" value="choki">チョキ</button>
    <button type="submit" name="hand" value="pa">パー</button>
  </form>
</body>
<div th:if="${winner}">
  <h2>Player: [[${playerHand}]]</h2>
  <h2>CPU: [[${cpuHand}]]</h2>
  <h2>Winner is [[${winner}]]</h2>
</div>

</html>
