<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
  <script>
    var sse = new EventSource('http://localhost:8080/janken/asyncJanken');
    sse.onmessage = function (evt) {
      console.log(evt.data);
      var hands1 = JSON.parse(evt.data);
      var username1 = document.getElementById("uname").textContent;
      var enemyname1, userhand1, enemyhand1;
      updateJankenResult(hands1, username1);


      // ここから下はなくても良い．こんなこともできるというサンプルとして置いておく
      var request = new XMLHttpRequest();
      request.open('GET', evt.origin + "/janken/asyncHand", true);
      request.send();
      console.log(evt.origin + evt.data);
      request.onload = function () {
        console.log(request.response);
        console.log(document.getElementById("uname").textContent);
        var hands2 = JSON.parse(request.response);
        var username2 = document.getElementById("uname").textContent;
        updateJankenResult(hands2, username2);

      }
    }
    function updateJankenResult(handsObj, username) {
      var enemyname, userhand, enemyhand;
      for (i = 0; i < handsObj.length; i++) {
        console.log(handsObj[i]);
        if (handsObj[i].name == username) {
          userhand = handsObj[i].hand;
          document.getElementById("uhand").textContent = userhand;
        } else {
          enemyhand = handsObj[i].hand;
          document.getElementById("ehand").textContent = enemyhand;
          enemyname = handsObj[i].name;
        }
      }
      judgeJanken(username, userhand, enemyname, enemyhand);

    }
    function judgeJanken(username, userhand, enemyname, enemyhand) {
      if (userhand == enemyhand) {
        document.getElementById("winner").textContent = "Draw"
      } else if (userhand == "gu" && enemyhand == "choki" || userhand == "choki" && enemyhand == "pa" || userhand == "pa" && enemyhand == "gu") {
        document.getElementById("winner").textContent = username;
      } else {
        document.getElementById("winner").textContent = enemyname;
      }

    }
  </script>
</head>

<body>
  <h1>Hello Janken</h1>
  user:<span id="uname">[[${username}]]</span>
  ただいまの入室者数：[[${userCount}]]
  <div th:if="${exit}">
    <a href="/janken/enter">入室</a>
  </div>
  <div th:if="${enter}">
    <a href="/janken/exit">退室</a>
    <form action="/janken/hand" method="post">
      <button type="submit" name="hand" value="gu">グー</button>
      <button type="submit" name="hand" value="choki">チョキ</button>
      <button type="submit" name="hand" value="pa">パー</button>
    </form>
    <div th:if="${userCount ge 2}">
      じゃんけんぽん！
    </div>
    <div>
      <h2>You: <span id="uhand"></span></h2>
      <h2>Enemy: <span id="ehand"></span></h2>
      <h2>Winner is <span id="winner"></span></h2>
    </div>
  </div>
</body>

</html>
